<div class="flex-row">
  <div class="flex-column center" style="padding: 5px 0px;">
    <!--Previous stops-->
    @for (
      previousStop of previousStops;
      track previousStop.label;
      let idx = $index
    ) {
      <span class="dot route-done"></span>
      @if (previousStops.length - 1 !== idx) {
        <span class="line route-done"></span>
      }
    }
    <!--Current stop-->
    @if (currentStop !== null) {
      @if (previousStops.length > 0) {
        <span class="line route-done"></span>
      }
      <span class="dot route-done"></span>
    }
    <!--Next stops-->
    @for (nextStop of nextStops; track nextStop.label) {
      <span class="line route-left"></span>
      <span class="dot route-left"></span>
    }
  </div>
  <div class="flex-column space-between">
    @for (previousStop of previousStops; track previousStop.label) {
      <span
        tabindex="0"
        class="clickable-no-padding"
        [matTooltip]="'Select stop'"
        [matTooltipPosition]="'after'"
        (click)="selectStop(previousStop)"
        (keydown.enter)="selectStop(previousStop)"
        >{{ previousStop.label }}</span
      >
    }
    @if (currentStop !== null) {
      <span
        tabindex="0"
        class="clickable-no-padding"
        [matTooltip]="'Select stop'"
        [matTooltipPosition]="'after'"
        (click)="selectStop(currentStop)"
        (keydown.enter)="selectStop(currentStop)"
        >{{ currentStop.label }}</span
      >
    }
    @for (nextStop of nextStops; track nextStop.label) {
      <span
        tabindex="0"
        class="clickable-no-padding"
        [matTooltip]="'Select stop'"
        [matTooltipPosition]="'after'"
        (click)="selectStop(nextStop)"
        (keydown.enter)="selectStop(nextStop)"
        >{{ nextStop.label }}</span
      >
    }
  </div>
</div>
