<!-- The tabindex makes the div focusable -->
<div #container tabindex="0" (blur)="onBlur()">
  @let closeEntities = closeEntitiesSignal();
  <mat-card
    class="fade"
    [style.top]="top()"
    [style.bottom]="bottom()"
    [style.left]="left()"
    [class.fade-show]="show()"
    [class.disable-pointer-events]="!show()"
  >
    <span class="info">{{ closeEntities.length }} entities close</span>
    <mat-card-content
      #cardContent
      class="card-content"
      [style.max-height]="maxHeight()"
    >
      <div class="content">
        @for (entity of closeEntities; track entity.id) {
          <mat-chip
            (click)="selectEntity(entity)"
            (mouseenter)="preselectEntity(entity)"
            (mouseleave)="unpreselectEntity()"
          >
            <mat-icon matChipAvatar>
              @switch (entity.entityType) {
                @case ("vehicle") {
                  directions_car
                }
                @case ("passenger") {
                  accessibility
                }
                @case ("stop") {
                  place
                }
              }
            </mat-icon>
            <app-entity-name [name]="entity.name" [tags]="entity.tags" />
          </mat-chip>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
