mat-card {
  position: absolute;
  z-index: 400;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  max-width: 200px;
  margin-right: 10px;
}

.disable-pointer-events {
  pointer-events: none;
}

mat-card {
  padding: 10px;
}

mat-card-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.info {
  margin-bottom: 5px;
}

/* Make menu padding thin */
.mat-mdc-card-content {
  padding: 0px !important;
}

/* Don't make text overflow */
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
:host ::ng-deep .mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden;
}

/* Fade animation */
.fade {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.fade-show {
  opacity: 1;
}
/* ************** */
