<mat-card appearance="outlined">
    <mat-card-content>
        <p class="title">Map Layer:</p>
        <mat-chip-listbox class="chip-list" aria-label="Map Layers">
            @for (layer of mapLayers(); track $index) {
            <mat-chip-option [selected]="selectedIndex() === $index" (click)="setMapTile($index)">{{ layer.name
                }}</mat-chip-option>
            }
        </mat-chip-listbox>
        <button mat-button>Add Map Tile</button>
        <!-- <div>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="OSM Bicycles">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>URL</mat-label>
                    <input matInput placeholder="https://tile.openstreetmap.org/{z}/{x}/{y}.png">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Attribution (optional)</mat-label>
                    <input matInput
                        placeholder='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'>
                </mat-form-field>
            </form>
        </div> -->
    </mat-card-content>
</mat-card>