<h2 mat-dialog-title>Disconnected</h2>

<mat-dialog-content>
  <div class="flex-row align-main-start align-cross-center gap-1-rem">
    <mat-icon>wifi_off</mat-icon>
    <p>
      The connection to the server has been lost. Please verify that the server
      is running and try again. The application will attempt to reconnect
      automatically.
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Continue Anyway</button>
</mat-dialog-actions>
