<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div class="flex-row align-main-start align-cross-center gap-1-rem">
    @switch (data.type) {
      @case ("error") {
        <mat-icon class="text-red"> error </mat-icon>
      }
      @case ("warning") {
        <mat-icon class="text-yellow"> warning </mat-icon>
      }
      @case ("info") {
        <mat-icon> info </mat-icon>
      }
      @default {
        <!-- Do nothing -->
      }
    }
    <p>
      {{ data.message }}
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  @if (data.canCancel) {
    <button mat-button [mat-dialog-close]="false">
      {{ data.cancelButtonOverride ?? "Close" }}
    </button>
  }
  <button mat-button [mat-dialog-close]="true">
    {{ data.confirmButtonOverride ?? (data.canCancel ? "Confirm" : "Close") }}
  </button>
</mat-dialog-actions>
