# Python Environments
venv

# Python cache
__pycache__

# Saved logs
multimodal_server/saved_logs

# Saved simulations
multimodal_server/saved_simulations

# Data folder too large
data/medium-taxi
data/small-taxi

# Python Packages
multimodal_ui.egg-info
multimodal_server.egg-info
multimodal_package.egg-info
