# Python Environments
venv

# Python cache
__pycache__

# Saved logs
saved_logs

# Saved simulations
saved_simulations

# Data folder except for some specific files
data/*
# instance_16, instance_full_day were too large to be uploaded to GitHub
!data/instance_07
!data/instance_10
!data/instance_13
!data/instance_19
!data/instance_medium_07
!data/instance_medium_10
!data/instance_medium_13
!data/instance_medium_16
!data/instance_medium_19
!data/instance_small_07
!data/instance_small_10
!data/instance_small_13
!data/instance_small_16
!data/instance_small_19
!data/instance_very_small_07
!data/instance_very_small_10
!data/instance_very_small_13
!data/instance_very_small_16
!data/instance_very_small_19


# Python Packages
multimodal_ui.egg-info
multimodal_server.egg-info
multimodal_package.egg-info

# Python compiled files
build
dist
*.egg-info

# PyPI configuration
.pypirc