<mat-card appearance="outlined">
  <mat-card-content>
    <p class="title">History</p>

    <div class="container">
      <div class="content">
        @for (entity of history(); track entity.id) {
          <mat-chip
            (click)="selectEntity(entity)"
            (mouseenter)="preselectEntity(entity)"
            (mouseleave)="unpreselectEntity()"
          >
            <mat-icon matChipAvatar>
              @switch (entity.entityType) {
                @case ("vehicle") {
                  directions_car
                }
                @case ("passenger") {
                  accessibility
                }
                @case ("stop") {
                  place
                }
              }
            </mat-icon>
            <app-entity-name [name]="entity.name" [tags]="entity.tags" />
          </mat-chip>
        }
      </div>
    </div>

    @if (history().length > 0) {
      <button class="clear-btn" mat-button (click)="clearHistory()">
        Clear
      </button>
    } @else {
      <p>Your history is empty.</p>
    }
  </mat-card-content>
</mat-card>
