@let simulation = simulationSignal();
@let numberOfPassengersByStatus = numberOfPassengersByStatusSignal();
@let numberOfVehiclesByStatus = numberOfVehiclesByStatusSignal();
@let totalNumberOfPassengers = totalNumberOfPassengersSignal();
@let totalNumberOfVehicles = totalNumberOfVehiclesSignal();

@if (isInitializedSignal() && simulation !== null) {
  <!-- MARK: Search Bar
  -->
  <mat-form-field class="search-bar enable-pointer-events">
    <input matInput />
    <!-- TODO Search -->
    <mat-label>Search in the simulation</mat-label>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- MARK: Information Panel
    -->
  @if (shouldShowInformationPanelSignal()) {
    <!-- TODO Fill panel -->
    <mat-card class="flex-column information-panel enable-pointer-events">
      <mat-card-content class="flex-1">
        <mat-card-title>Simulation: {{ simulation.name }}</mat-card-title>
        <mat-card-subtitle>Source: {{ simulation.data }}</mat-card-subtitle>
        <mat-card-subtitle>
          Current simulation time:
          {{ simulation.simulationTime ?? "null" }}
        </mat-card-subtitle>
        <mat-card-subtitle>
          Max simulation time:
          {{ simulation.configuration.maxTime ?? "null" }}
        </mat-card-subtitle>
        <mat-card-subtitle>
          Passengers ({{ totalNumberOfPassengers }})
        </mat-card-subtitle>
        <div class="flex-column">
          @for (
            statusAndCount of numberOfPassengersByStatus;
            track statusAndCount.status
          ) {
            <span>{{ statusAndCount.status }}: {{ statusAndCount.count }}</span>
          }
        </div>

        <mat-card-subtitle>
          Vehicles: ({{ totalNumberOfVehicles }})
        </mat-card-subtitle>
        <div class="flex-column">
          @for (
            statusAndCount of numberOfVehiclesByStatus;
            track statusAndCount.status
          ) {
            <span>{{ statusAndCount.status }}: {{ statusAndCount.count }}</span>
          }
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="hideInformationPanel()">Hide</button>
      </mat-card-actions>
    </mat-card>
  } @else {
    <button
      mat-fab
      class="enable-pointer-events show-information-panel-button"
      (click)="showInformationPanel()"
    >
      <mat-icon>info</mat-icon>
    </button>
  }

  <!-- MARK: Control Bar
-->
  <app-simulation-control-bar
    class="enable-pointer-events"
    [simulation]="simulation"
    (pauseSimulation)="pauseSimulation($event)"
    (resumeSimulation)="resumeSimulation($event)"
    (stopSimulation)="stopSimulation($event)"
    (editSimulationConfiguration)="editSimulationConfiguration($event)"
    (leaveVisualization)="leaveVisualization()"
  ></app-simulation-control-bar>
}
