@let simulation = simulationSignal();
@let numberOfPassengersByStatus = numberOfPassengersByStatusSignal();
@let numberOfVehiclesByStatus = numberOfVehiclesByStatusSignal();

@if (isInitializedSignal() && simulation !== null) {
  <!-- MARK: Search Bar
  -->
  <mat-form-field class="search-bar enable-pointer-events">
    <input matInput />
    <!-- TODO Search -->
    <mat-label>Search in the simulation</mat-label>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- MARK: FPS Display 
   -->
  <mat-chip class="fps-display" [style.background-color]="'var(--disabled-background-color)'">
    <div class="flex-row align-center gap-0-5-rem text-disabled" style="text-align: center;">
      FPS: {{ fpsSignal() }}
    </div>
  </mat-chip>
  

  <!-- MARK: Information Panel
    -->
  @if (shouldShowInformationPanelSignal()) {
    <!-- TODO Fill panel -->
    <mat-card class="flex-column information-panel enable-pointer-events">
      <mat-card-content class="flex-1">
        <mat-card-title>Simulation: {{ simulation.name }}</mat-card-title>
        <mat-card-subtitle>Source: {{ simulation.data }}</mat-card-subtitle>
        <mat-card-subtitle
          >Current simulation time:
          {{
            simulation.simulationTime?.toString() ?? "null"
          }}</mat-card-subtitle
        >
        <mat-card-subtitle>Passengers:</mat-card-subtitle>
        @for (
          statusAndCount of numberOfPassengersByStatus;
          track statusAndCount.status
        ) {
          <mat-card-subtitle
            >{{ statusAndCount.status }}:
            {{ statusAndCount.count }}</mat-card-subtitle
          >
        }

        <mat-card-subtitle>Vehicles:</mat-card-subtitle>
        @for (
          statusAndCount of numberOfVehiclesByStatus;
          track statusAndCount.status
        ) {
          <mat-card-subtitle
            >{{ statusAndCount.status }}:
            {{ statusAndCount.count }}</mat-card-subtitle
          >
        }
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="hideInformationPanel()">Hide</button>
      </mat-card-actions>
    </mat-card>
  } @else {
    <button
      mat-fab
      class="enable-pointer-events show-information-panel-button"
      (click)="showInformationPanel()"
    >
      <mat-icon>info</mat-icon>
    </button>
  }

  <!-- MARK: Control Bar
-->
  <app-simulation-control-bar
    class="enable-pointer-events"
    [simulation]="simulation"
    (pauseSimulation)="pauseSimulation($event)"
    (resumeSimulation)="resumeSimulation($event)"
    (stopSimulation)="stopSimulation($event)"
    (leaveVisualization)="leaveVisualization()"
  ></app-simulation-control-bar>
  />
}
