<mat-card appearance="outlined">
    <mat-card-content>
        <p class="title">Entity Filters</p>
        <div class="content">
            <section>
                @let vehicle = "vehicle";
                @let passenger = "passenger";
                @let filterService = visualizationFilterService;
                <mat-chip-option [selected]="!filters().has(passenger)"
                    (click)="filterService.toggleFilter(passenger)">Passengers</mat-chip-option>
                <div>
                    <mat-chip-option [selected]="!filters().has(vehicle)"
                        (click)="filterService.toggleFilter(vehicle)">Vehicles</mat-chip-option>
                    <ul>
                        @for (mode of vehicleModes(); track mode) {
                        <li>
                            <mat-chip-option [selected]="!filters().has(mode)" [disabled]="filters().has(vehicle)"
                                (click)="filterService.toggleFilter(mode)">
                                {{ mode }}
                            </mat-chip-option>
                        </li>
                        }
                    </ul>
                </div>
            </section>
            <mat-divider vertical></mat-divider>
            <section>
                <mat-radio-group class="radio-group" aria-label="Select a global filter">
                    <mat-radio-button value="1">All</mat-radio-button>
                    <mat-radio-button value="2">Favorites</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>

    </mat-card-content>
</mat-card>