p {
    margin: 0px;
}

.title{
    font: var(--mat-sys-body-medium);
    margin-top: 0px;
    margin-bottom: 10px
}

.content {
    display: flex;
    gap: 10px;
}

mat-chip-option {
    width: 100%;
    min-width: 110px;
    margin-bottom: 10px;

}

/* Remove margin-bottom for that last chip */
ul li:last-child mat-chip-option {
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}