.title{
    font: var(--mat-sys-body-large);
    margin-top: 0px;
    margin-bottom: 10px
}

.content {
    display: flex;
    flex-direction: column;
}
mat-checkbox {
    height: 25px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 4px;
}