@if (shouldShowMainMenuSignal()) {
  <div class="main-menu flex-column align-main-center gap-1-rem">
    <h1 class="enable-pointer-events main-menu-title">
      Multimodal Simulation Visualization
    </h1>
    <button
      mat-raised-button
      class="enable-pointer-events"
      (click)="onStartSimulation()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      <span>Start a simulation</span>
    </button>

    <button
      mat-raised-button
      class="enable-pointer-events"
      (click)="onBrowseSimulations()"
    >
      <mat-icon>folder_open</mat-icon>
      <span>Browse simulations</span>
    </button>

    <div class="flex-row gap-1-rem">
      <button
        mat-raised-button
        class="enable-pointer-events flex-1"
        (click)="onAboutUs()"
      >
        <mat-icon>info</mat-icon>
        <span>About Us</span>
      </button>

      <app-github-button class="enable-pointer-events" />
    </div>
  </div>
}
