<h2 mat-dialog-title>Configure Simulation</h2>

<!-- TODO Edit configuration -->
<mat-dialog-content>
  <h3>Actions</h3>

  <section class="flex-row gap-1-rem">
    <button mat-raised-button [matTooltip]="'Import a simulation'" (click)="importSimulation()">
      <mat-icon>cloud_upload</mat-icon>
      <span>Import</span>
    </button>
  </section>

  @let groupedSimulations = groupedSimulationsSignal();

  @for (group of groupedSimulations; track group.group) {
    <h3>{{ group.group | titlecase }}</h3>

    @if (group.simulations.length > 0) {
      <section class="flex-column">
        @for (simulation of group.simulations; track simulation.id) {
          <div
            class="list-item flex-row align-main-start align-cross-center gap-1-rem"
          >
            <!-- MARK: Status icon
          -->
            <mat-icon
              [style.color]="
                'var(--' +
                getColorFromStatus(simulation.status) +
                '-text-color)'
              "
              >circle
            </mat-icon>

            <!-- MARK: Name and status
            -->
            <div class="flex-column">
              <div class="flex-row gap-1-rem">
                <span class="bold">{{ simulation.name }}</span>
                @if (
                  simulation.status === "running" ||
                  simulation.status === "paused"
                ) {
                  <span> {{ simulation.completion | percent: "1.2-2" }} </span>
                }
              </div>
              <div
                class="light"
                [style.color]="
                  'var(--' +
                  getColorFromStatus(simulation.status) +
                  '-text-color)'
                "
              >
                {{ simulation.status }}
              </div>
            </div>

            <!-- MARK: Actions
            -->
            <div class="actions align-self-end flex-row gap-0-5-rem">
              @if (group.group === "running") {
                @let isConfigureButtonDisabled =
                  simulation.status === "starting" ||
                  simulation.status === "stopping" ||
                  simulation.status === "lost";
                <button
                  mat-icon-button
                  [disabled]="isConfigureButtonDisabled"
                  [matTooltip]="'Configure'"
                  (click)="editSimulationConfiguration(simulation)"
                >
                  <mat-icon>settings</mat-icon>
                </button>

                @let isPauseButtonDisabled =
                  simulation.status === "starting" ||
                  simulation.status === "stopping" ||
                  simulation.status === "lost";
                @let isRunning = simulation.status !== "paused";

                <button
                  mat-icon-button
                  [disabled]="isPauseButtonDisabled"
                  [matTooltip]="isRunning ? 'Pause' : 'Resume'"
                  (click)="pauseResumeHandler(simulation.id, isRunning)"
                >
                  <mat-icon>{{ isRunning ? "pause" : "play_arrow" }}</mat-icon>
                </button>

                @let isStopButtonDisabled =
                  simulation.status === "starting" ||
                  simulation.status === "stopping" ||
                  simulation.status === "lost";
                <button
                  mat-icon-button
                  [disabled]="isStopButtonDisabled"
                  [matTooltip]="'Stop'"
                  (click)="stopSimulation(simulation)"
                >
                  <mat-icon>stop</mat-icon>
                </button>
              }

              @if (group.group === "completed") {
                <button mat-icon-button [matTooltip]="'Export'" (click)="exportSimulation(simulation.id)">
                  <mat-icon>cloud_download</mat-icon>
                  
                </button>
                <button mat-icon-button [matTooltip]="'Delete'" (click)="deleteSimulation(simulation.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              }

              @let isVisualizeButtonDisabled =
                simulation.status === "corrupted" ||
                simulation.status === "outdated" ||
                simulation.status === "future";
              <button
                mat-icon-button
                [disabled]="isVisualizeButtonDisabled"
                [matTooltip]="'Visualize'"
                (click)="visualizeSimulation(simulation)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        }
      </section>
    } @else {
      <span class="light">No simulations</span>
    }
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
