@import "../../../styles/flex.styles.css";
@import "../../../styles/color.styles.css";

.align-self-end {
  margin-inline-start: auto;
}

.list-item {
  border-radius: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.25rem;

  cursor: pointer;

  &:hover,
  &.selected {
    background-color: #f0f0f0;

    .actions {
      display: flex;
    }
  }

  &.selected .detailed-information {
    display: flex;
  }

  .actions,
  .detailed-information {
    display: none;
  }
}

.detailed-information {
  /* 24px for the icon + 1rem for padding */
  padding-inline-start: calc(24px + 1rem);

  & > * {
    flex: 1;
  }

  & > div {
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;

    /* Handle overflow for long text by hiding value and not key */
    & > span > span:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.completion {
  flex-shrink: 0;
}

.simulation-name {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.status-icon {
  flex-shrink: 0;
}

.text-container {
  flex: 1;
  min-width: 0;
  overflow: hidden;

  & > * {
    white-space: nowrap;
  }
}

.copy {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}
