<h2 mat-dialog-title>Configure Simulation</h2>

<mat-dialog-content>
  <h3>Actions</h3>

  <section class="flex-row gap-1-rem">
    <button mat-raised-button [matTooltip]="'Import a simulation'">
      <mat-icon>cloud_upload</mat-icon>
      <span>Import</span>
    </button>
  </section>

  <h3>Running Simulations</h3>

  <section class="flex-column gap-0-5-rem">
    @for (simulation of runningSimulationsSignal(); track simulation.name) {
    <div
      class="list-item flex-row align-main-start align-cross-center gap-1-rem"
    >
      <mat-icon>refresh </mat-icon>
      <div class="flex-column">
        <div class="bold">{{ simulation.name }}</div>
        <div
          class="light"
          [class.green]="simulation.status === 'running'"
          [class.yellow]="simulation.status === 'paused'"
        >
          {{ simulation.completion }}% - {{ simulation.status }}
        </div>
      </div>
      <div class="actions align-self-end flex-row gap-0-5-rem">
        @if (simulation.status === 'running') {
        <!-- TODO -->
        <button mat-icon-button [matTooltip]="'Pause'">
          <mat-icon>pause</mat-icon>
        </button>
        } @else {
        <button mat-icon-button [matTooltip]="'Resume'">
          <mat-icon>play_arrow</mat-icon>
        </button>
        }
        <button mat-icon-button [matTooltip]="'Stop'">
          <mat-icon>stop</mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="'Visualize'">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </div>
    }
  </section>

  <h3>Completed Simulations</h3>

  <section class="flex-column gap-0-5-rem">
    @for (simulation of completedSimulationsSignal(); track simulation.name) {
    <div
      class="list-item flex-row align-main-start align-cross-center gap-1-rem"
    >
      <mat-icon>save </mat-icon>
      <div class="flex-column">
        <div class="bold">{{ simulation.name }}</div>
        <div
          class="light"
          [class.green]="simulation.status === 'running'"
          [class.yellow]="simulation.status === 'paused'"
        >
          {{ simulation.status }}
        </div>
      </div>
      <div class="actions align-self-end flex-row gap-0-5-rem">
        <!-- TODO -->
        <button mat-icon-button [matTooltip]="'Export'">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="'Delete'">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="'Visualize'">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </div>
    }
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
