@import "../../../styles/flex.styles.css";
@import "../../../styles/color.styles.css";

.align-self-end {
  margin-inline-start: auto;
}

.list-item {
  border-radius: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.25rem;

  &:hover {
    background-color: #f0f0f0;

    .actions {
      display: flex;
    }
  }

  .actions {
    display: none;
  }
}

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}
