@import "../../../styles/flex.styles.css";
@import "../../../styles/color.styles.css";

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
