@let communicationStatus = this.communicationStatusSignal();

@switch (communicationStatus) {
  @case ("connecting") {
    <mat-chip [style.background-color]="'var(--gray-background-color)'">
      <div class="flex-row align-center gap-0-5-rem text-gray">
        <mat-icon class="spin">autorenew</mat-icon>
        Connecting...
      </div>
    </mat-chip>
  }
  @case ("connected") {
    <mat-chip [style.background-color]="'var(--green-background-color)'">
      <div class="flex-row align-center gap-0-5-rem text-green">
        <mat-icon>wifi</mat-icon>
        Connected
      </div>
    </mat-chip>
  }
  @case ("disconnected") {
    <mat-chip [style.background-color]="'var(--red-background-color)'">
      <div class="flex-row align-center gap-0-5-rem text-red">
        <mat-icon>wifi_off</mat-icon>
        Disconnected
      </div>
    </mat-chip>
  }
}
