@let isVisualizationPaused = isVisualizationPausedSignal();
@let simulation = simulationInputSignal();
@let simulationStartTime = simulationStartTimeSignal();
@let simulationEndTime = simulationEndTimeSignal();
@let visualizationMaxTime = visualizationMaxTimeSignal();
@let visualizationTime = wantedVisualizationTimeSignal();
@let simulationStates = simulationStatesSignal();

@let isInitialized = isInitializedSignal();

@let shouldFollowEntity = shouldFollowEntitySignal();

@if (
  isInitialized &&
  simulation !== null &&
  simulationStartTime !== null &&
  simulationEndTime !== null &&
  visualizationMaxTime !== null &&
  visualizationTime !== null
) {
  <mat-card>
    <mat-card-content class="flex-row align-center gap-0-5-rem">
      <button
        mat-icon-button
        [matTooltip]="
          isVisualizationPaused
            ? 'Resume the visualization (space)'
            : 'Pause the visualization (space)'
        "
        (click)="toggleVisualizationPause(isVisualizationPaused)"
      >
        <mat-icon>{{
          isVisualizationPaused ? "play_arrow" : "pause"
        }}</mat-icon>
      </button>

      @let speed = speedSignal();
      @let fastForwardStep = fastForwardStepSignal();
      <button
        mat-icon-button
        [matTooltip]="
          'Rewind the simulation ' + fastForwardStep + ' seconds ago (ctrl + ←)'
        "
        (click)="rewindTime()"
      >
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-button class="speed-button" [matMenuTriggerFor]="speedMenu">
        x{{ speed }}
      </button>
      <mat-menu #speedMenu="matMenu" class="speed-menu">
        <button mat-menu-item (click)="setSpeed(0)">x1</button>
        <button mat-menu-item (click)="setSpeed(1)">x2</button>
        <button mat-menu-item (click)="setSpeed(2)">x4</button>
        <button mat-menu-item (click)="setSpeed(3)">x8</button>
        <button mat-menu-item (click)="setSpeed(4)">x16</button>
        <button mat-menu-item (click)="setSpeed(5)">x32</button>
        <button mat-menu-item (click)="setSpeed(6)">x64</button>
        <button mat-menu-item (click)="setSpeed(7)">x128</button>
      </mat-menu>
      <button
        mat-icon-button
        [matTooltip]="
          'Fast-forward the simulation ' + fastForwardStep + ' seconds later (ctrl + →)'
        "
        (click)="fastForwardTime()"
      >
        <mat-icon>skip_next</mat-icon>
      </button>

      <button
        mat-icon-button
        [matTooltip]="
          speed > 0 ? 'Reverse the simulation (r)' : 'Forward the simulation (r)'
        "
        [disabled]="speed === 0"
        (click)="toggleSimulationDirection()"
      >
        <mat-icon>{{ speed > 0 ? "restore" : "update" }}</mat-icon>
      </button>

      <button
        mat-icon-button
        [matTooltip]="'Center the map (c)'"
        (click)="centerMap()"
      >
        <mat-icon>my_location</mat-icon>
      </button>

      <button
        mat-icon-button
        [matTooltip]="'Toggle entity follow mode (f)'"
        [class.active]="shouldFollowEntity"
        (click)="toggleShouldFollowEntity()"
      >
        <mat-icon>moving</mat-icon>
      </button>

      @let showVisualisationTimeEditor = showVisualisationTimeEditorSignal();
      <div>
        <div>
          <button
            mat-button
            [matTooltip]="
              ((visualizationTime | number: '1.0-0') ?? '0').toString() +
              ' (Click to modify)'
            "
            [disabled]="showVisualisationTimeEditor"
            (click)="openVisualisationTimeEditor()"
          >
            @if (showVisualisationTimeEditor) {
              @if (editorVisualisationTimeForm.hasError("invalidNumber")) {
                -- : -- : --
              } @else {
                {{ editorVisualisationTimeValueSignal() | simulationTime }}
              }
            } @else {
              {{ visualizationTime | simulationTime }}
            }
          </button>
        </div>
        <form
          class="fade"
          [class.fade-show]="showVisualisationTimeEditor"
          [class.disable-pointer-events]="!showVisualisationTimeEditor"
        >
          <mat-form-field class="timestamp-input">
            <mat-label>Set Visualisation Time</mat-label>
            <input
              matInput
              type="number"
              [formControl]="editorVisualisationTimeForm"
              (keyup.enter)="applyVisualisationTime()"
              (blur)="hideVisualisationTimeEditor()"
            />
          </mat-form-field>
        </form>
      </div>

      <div class="flex-1 sliders">
        <!-- Main control slider -->
        <mat-slider
          discrete
          [displayWith]="
            sliderLabelFormatter(simulationStartTime, simulationEndTime)
          "
          [min]="simulationStartTime"
          [max]="simulationEndTime"
        >
          <input
            matSliderThumb
            [value]="visualizationTime"
            (valueChange)="onSliderChange($event)"
          />
        </mat-slider>

        <!-- Loaded parts of the simulation -->
        @if (
          simulationStates.firstContinuousState !== null &&
          simulationStates.lastContinuousState !== null
        ) {
          <mat-slider
            class="loaded"
            disabled
            [min]="simulationStartTime"
            [max]="simulationEndTime"
          >
            <input
              matSliderStartThumb
              [value]="simulationStates.firstContinuousState.timestamp"
            />
            <input
              matSliderEndThumb
              [value]="simulationStates.lastContinuousState.timestamp"
            />
          </mat-slider>
        }

        @if (simulation.simulationTime !== null) {
          <!-- Simulation time -->
          <mat-slider
            class="simulation disable-pointer-events"
            disabled
            [min]="simulationStartTime"
            [max]="simulationEndTime"
          >
            <input matSliderThumb [value]="simulation.simulationTime" />
          </mat-slider>
        }
      </div>

      <button
        mat-icon-button
        [matTooltip]="'Leave the visualization'"
        (click)="leaveVisualization()"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
}
