@import "../../../styles/flex.styles.css";
@import "../../../styles/color.styles.css";

:host {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  /* 40px is the width of the zoom buttons */
  /* 20rem is the width of the information panel */
  /* 1rem for the gaps */
  width: calc(100% - 2 * (44px + 1rem));
  max-width: 1000px;

  ::ng-deep .mat-mdc-card-content {
    padding: 0.5rem !important;
  }
}

.sliders {
  margin-inline: 1rem;
  position: relative;

  mat-slider {
    width: 100%;
  }

  .loaded,
  .simulation {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .loaded {
    opacity: unset;
  }

  ::ng-deep .loaded mat-slider-visual-thumb,
  ::ng-deep .loaded .mdc-slider__track--inactive,
  ::ng-deep .simulation .mdc-slider__track {
    display: none;
  }

  ::ng-deep .loaded .mdc-slider__track--active_fill {
    border-color: var(--loaded-slider-color);
  }
}

:host ::ng-deep {
  .loaded {
    display: none;
  }
}
