@let isSimulationPaused = isSimulationPausedSignal();
@let isVisualizationPaused = isVisualizationPausedSignal();
@let simulation = simulationInputSignal();
@let simulationStartTime = simulationStartTimeSignal();
@let simulationEndTime = simulationEndTimeSignal();
@let visualizationMaxTime = visualizationMaxTimeSignal();
@let visualizationTime = visualizationTimeSignal();

@let isInitialized = isInitializedSignal();

@if (
  isInitialized &&
  simulation !== null &&
  simulationStartTime !== null &&
  simulationEndTime !== null &&
  visualizationMaxTime !== null &&
  visualizationTime !== null
) {
  <mat-card>
    <mat-card-content class="flex-row align-center">
      <button
        mat-icon-button
        [matTooltip]="
          isVisualizationPaused
            ? 'Resume the visualization'
            : 'Pause the visualization'
        "
        (click)="toggleVisualizationPause(isVisualizationPaused)"
      >
        <mat-icon>{{
          isVisualizationPaused ? "play_arrow" : "pause"
        }}</mat-icon>
      </button>

      @if (isVisualizationPaused) {
        <button
          mat-icon-button
          disabled
          [matTooltip]="'Step one event backward'"
        >
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button
          mat-icon-button
          disabled
          [matTooltip]="'Step one event forward'"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
      } @else {
        <button
          mat-icon-button
          disabled
          [matTooltip]="'Slow down the simulation'"
        >
          <mat-icon>fast_rewind</mat-icon>
        </button>
        <button
          mat-icon-button
          disabled
          [matTooltip]="'Speed up the simulation'"
        >
          <mat-icon>fast_forward</mat-icon>
        </button>
      }

      <div>{{ visualizationTime }}</div>

      <div class="flex-1 slider">
        <mat-slider
          discrete
          [displayWith]="
            sliderLabelFormatter(simulationStartTime, simulationEndTime)
          "
          [min]="simulationStartTime"
          [max]="simulationEndTime"
        >
          <input
            matSliderThumb
            [value]="visualizationTime"
            (valueChange)="onSliderChange($event)"
          />
        </mat-slider>
      </div>

      @if (simulation.status === "running" || simulation.status === "paused") {
        <button
          mat-icon-button
          [matTooltip]="
            isSimulationPaused
              ? 'Resume the simulation'
              : 'Pause the simulation'
          "
          (click)="toggleSimulationPause(isSimulationPaused, simulation.id)"
        >
          <mat-icon>{{ isSimulationPaused ? "play_arrow" : "pause" }}</mat-icon>
        </button>

        <button
          mat-icon-button
          [matTooltip]="'Stop the simulation'"
          (click)="stopSimulation(simulation.id)"
        >
          <mat-icon>stop</mat-icon>
        </button>
      }

      <button
        mat-icon-button
        [matTooltip]="'Configure the simulation'"
        (click)="editSimulationConfiguration(simulation)"
      >
        <mat-icon>settings</mat-icon>
      </button>

      <button
        mat-icon-button
        [matTooltip]="'Leave the visualization'"
        (click)="leaveVisualization()"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
}
