@let simulation = simulationInputSignal();
@let isPaused = isPausedSignal();

<mat-card>
  <mat-card-content class="flex-row align-center">
    <button
      mat-icon-button
      [matTooltip]="isPaused ? 'Resume the simulation' : 'Pause the simulation'"
      (click)="togglePause(isPaused, simulation.id)"
    >
      <mat-icon>{{ isPausedSignal() ? "play_arrow" : "pause" }}</mat-icon>
    </button>

    @if (isPausedSignal()) {
      <button mat-icon-button [matTooltip]="'Step one event backward'">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="'Step one event forward'">
        <mat-icon>skip_next</mat-icon>
      </button>
    } @else {
      <button mat-icon-button [matTooltip]="'Slow down the simulation'">
        <mat-icon>fast_rewind</mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="'Speed up the simulation'">
        <mat-icon>fast_forward</mat-icon>
      </button>
    }

    <div>{{ currentTimeSignal().toLocaleTimeString() }}</div>

    <div class="flex-1 slider">
      <mat-slider discrete [displayWith]="sliderLabelFormatter">
        <input matSliderThumb />
      </mat-slider>
    </div>

    <button
      mat-icon-button
      [matTooltip]="'Configure the simulation'"
      (click)="editSimulationConfiguration()"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'Stop the simulation'"
      (click)="stopSimulation(simulation)"
    >
      <mat-icon>stop</mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'Leave the visualization'"
      (click)="leaveVisualization()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
