* {
  --red-text-color: #ff0000;
  --red-background-color: #ffdddd;

  --yellow-text-color: #ffc21b;
  --yellow-background-color: #ffe6a4;

  --green-text-color: #00aa00;
  --green-background-color: #ccffcc;

  --gray-text-color: #666666;
  --gray-background-color: #f0f0f0;

  --blue-text-color: #4488ff;
  --blue-background-color: #cce5ff;

  --loaded-slider-color: #005cbb88;

  --active-button-color: #cce6ff;
}

.text-red {
  color: var(--red-text-color);
}

.background-red {
  background-color: var(--red-background-color);
}

.text-yellow {
  color: var(--yellow-text-color);
}

.background-yellow {
  background-color: var(--yellow-background-color);
}

.text-green {
  color: var(--green-text-color);
}

.background-green {
  background-color: var(--green-background-color);
}

.text-gray {
  color: var(--gray-text-color);
}

.background-gray {
  background-color: var(--gray-background-color) !important;
}

.text-blue {
  color: var(--blue-text-color);
}

.background-blue {
  background-color: var(--blue-background-color);
}
