<!-- TODO Add Help and validation -->
<h2 mat-dialog-title>Configure Simulation</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    @if (data.mode === "start") {
      <h3>General</h3>

      <div formGroupName="general">
        <section class="flex-row gap-1-rem">
          <mat-form-field>
            <input matInput formControlName="name" />
            <mat-label>Name</mat-label>
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="data" (openedChange)="refreshAvailableData()">
              @for (data of availableSimulationDataSignal(); track data) {
                <mat-option [value]="data">{{ data }}</mat-option>
              }
            </mat-select>
            <mat-label>Data</mat-label>
          </mat-form-field>
        </section>

        <mat-checkbox formControlName="shouldRunInBackground">
          Run in background
        </mat-checkbox>
      </div>
    }

    <h3>Simulation</h3>

    <div formGroupName="configuration" class="flex-column gap-1-rem">
      @if (data.mode === "start" && !dataFormControl.valid) {
        <span class="error-message flex-row align-cross-center gap-0-5-rem">
          <mat-icon class="error-icon">error</mat-icon>
          <span
            >Select a valid data source before changing the configuration the
            simulation</span
          >
        </span>
      }

      <div>
        <section class="flex-row gap-1-rem">
          <mat-form-field>
            <input type="number" matInput formControlName="maxTime" />
            <mat-label>Max Time</mat-label>
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput formControlName="speed" />
            <mat-label>Speed</mat-label>
          </mat-form-field>
        </section>

        <section class="flex-row gap-1-rem">
          <mat-form-field>
            <input type="number" matInput formControlName="timeStep" />
            <mat-label>Time Step</mat-label>
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput formControlName="positionTimeStep" />
            <mat-label>Position Time Step</mat-label>
          </mat-form-field>
        </section>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>

  <button mat-button (click)="onSave()">
    @switch (data.mode) {
      @case ("start") {
        Start
      }
      @case ("edit") {
        Save
      }
    }
  </button>
</mat-dialog-actions>
