<h2 mat-dialog-title>Configure Simulation</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    @if (data.mode === "start") {
      <h3>General</h3>

      <div formGroupName="general">
        <section class="flex-row gap-1-rem no-stretch">
          <mat-form-field [subscriptSizing]="'dynamic'">
            <input matInput formControlName="name" />
            <mat-label>Name</mat-label>
            <mat-hint>Spaces will be replaced by underscores</mat-hint>
            @if (nameFormControl.hasError("required")) {
              <mat-error>Name is required</mat-error>
            } @else if (nameFormControl.hasError("minlength")) {
              <mat-error>Name must be at least 3 characters long</mat-error>
            } @else if (nameFormControl.hasError("maxlength")) {
              <mat-error>Name must be at most 50 characters long</mat-error>
            } @else if (nameFormControl.hasError("invalidPattern")) {
              <mat-error>
                The name must not contain three successive dashes
              </mat-error>
            } @else if (nameFormControl.hasError("invalidCharacter")) {
              <mat-error>
                The name muse not contain characters that might affect the file
                system (e.g. /, \, :, *, ?, ", <, >, |)
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-select
              formControlName="data"
              (openedChange)="refreshAvailableData()"
            >
              <mat-option (click)="importInputData()"
                >➕ Import New Folder</mat-option
              >

              @for (data of availableSimulationDataSignal(); track data) {
                <mat-option [value]="data">{{ data }}</mat-option>
              }
            </mat-select>
            <mat-label>Data</mat-label>
            @if (dataFormControl.hasError("required")) {
              <mat-error>Data is required</mat-error>
            }
          </mat-form-field>
        </section>

        <mat-checkbox formControlName="shouldRunInBackground">
          Run in background
        </mat-checkbox>
      </div>
    }

    <h3>Simulation</h3>

    <div formGroupName="configuration" class="flex-column gap-1-rem">
      @if (data.mode === "start" && !dataFormControl.valid) {
        <span class="error-message flex-row align-cross-center gap-0-5-rem">
          <mat-icon class="error-icon">error</mat-icon>
          <span
            >Select a valid data source before changing the configuration the
            simulation</span
          >
        </span>
      }

      <mat-form-field>
        <input type="number" matInput formControlName="maxDuration" />
        <mat-label>Simulation Duration (optional)</mat-label>
        @if (maxDurationFormControl.hasError("min")) {
          <mat-error>Max duration must be greater than 0</mat-error>
        }
        <span matTextSuffix>h</span>
        <mat-hint>
          The simulation will stop after this in-simulation duration, even if
          not finished (0.5 = 30min)
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>

  <button mat-button (click)="onSave()">
    @switch (data.mode) {
      @case ("start") {
        Start
      }
      @case ("edit") {
        Save
      }
    }
  </button>
</mat-dialog-actions>
