<!--MARK: Selected Passenger
      -->

@let environment = environmentSignal();

@let selectedPassenger = selectedPassengerSignal();
@if (selectedPassenger !== null) {
  @let isFavoritePassenger = isFavoriteEntity(selectedPassenger);
  <mat-card-title style="display: flex; align-items: center; gap: 8px"
    >Selected Passenger
    <button
      mat-icon-button
      disableRipple
      style="padding: 0; border: none"
      [matTooltip]="
        isFavoritePassenger ? 'Remove from favorite' : 'Add to favorite'
      "
      [matTooltipPosition]="'after'"
      (click)="toggleFavoriteEntity(selectedPassenger)"
    >
      <mat-icon>{{
        isFavoritePassenger ? "favorite" : "favorite_outline"
      }}</mat-icon>
    </button>
  </mat-card-title>
  <div class="flex-column gap-0-5-rem">
    <div class="mat-card-group">
      <mat-card>
        <mat-card-content
          #idElement
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedPassenger.id)"
          (keydown.enter)="copyToClipboard(selectedPassenger.id)"
        >
          <b>Id:</b> {{ truncateId(selectedPassenger.id) }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedPassenger.name!)"
          (keydown.enter)="copyToClipboard(selectedPassenger.name!)"
        >
          <b>Name:</b> {{ selectedPassenger.name }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Status:</b> {{ selectedPassenger.status }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Number of passenger:</b>
          {{ selectedPassenger.numberOfPassengers }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Tags:</b>
          {{
            selectedPassenger.tags.length > 0
              ? selectedPassenger.tags.join(", ")
              : "None"
          }}
        </mat-card-content>
      </mat-card>

      @let selectedPassengerStop = selectedPassengerStopSignal();
      @if (selectedPassengerStop !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Select stop'"
            [matTooltipPosition]="'after'"
            (click)="selectEntity(selectedPassengerStop)"
            (keydown.enter)="selectEntity(selectedPassengerStop)"
            (mouseenter)="preselectEntity(selectedPassengerStop)"
            (mouseleave)="unpreselectEntity()"
          >
            <b>Stop: </b>
            <app-entity-name
              [name]="selectedPassengerStop.name"
              [tags]="selectedPassengerStop.tags"
            />
          </mat-card-content>
        </mat-card>
      }

      @let selectedPassengerVehicle = selectedPassengerVehicleSignal();
      @if (selectedPassengerVehicle !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Select vehicle'"
            [matTooltipPosition]="'after'"
            (click)="selectEntity(selectedPassengerVehicle)"
            (keydown.enter)="selectEntity(selectedPassengerVehicle)"
            (mouseenter)="preselectEntity(selectedPassengerVehicle)"
            (mouseleave)="unpreselectEntity()"
          >
            <b>Vehicle: </b>
            <app-entity-name
              [name]="selectedPassengerVehicle.name"
              [tags]="selectedPassengerVehicle.tags"
            />
          </mat-card-content>
        </mat-card>
      }
      @if (selectedPassenger.error !== null) {
        <mat-card>
          <mat-card-content matTooltip="The passenger is not displayed">
            <b>Error:</b> {{ selectedPassenger.error }}
          </mat-card-content>
        </mat-card>
      }
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Passenger route</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-column gap-1-5-rem">
          @for (leg of selectedPassengerLegs; track index; let index = $index) {
            <div
              class="flex-column gap-0-5-rem"
              (mouseenter)="highlightLeg(index)"
              (mouseleave)="unhighlightLeg()"
            >
              <div class="indent">
                @if (environment !== null && leg.assignedVehicleId !== null) {
                  @let vehicle = environment.vehicles[leg.assignedVehicleId];
                  <div
                    tabindex="0"
                    class="clickable-no-padding"
                    [matTooltip]="'Select vehicle'"
                    [matTooltipPosition]="'after'"
                    (click)="selectEntity(vehicle)"
                    (keydown.enter)="selectEntity(vehicle)"
                  >
                    Vehicle: {{ vehicle.name }}
                  </div>
                } @else {
                  <b>{{ leg.assignedVehicleId }}</b>
                }
              </div>
              <app-selected-entity-route
                class="indent"
                [previousStops]="selectedPassengerLegPreviousStops"
                [currentStop]="selectedPassengerLegCurrentStop"
                [nextStops]="selectedPassengerLegNextStops"
              />
            </div>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}

<!--MARK: Selected Vehicle
      -->
@let selectedVehicle = selectedVehicleSignal();
@if (selectedVehicle !== null) {
  @let isFavoriteVehicle = isFavoriteEntity(selectedVehicle);
  <mat-card-title style="display: flex; align-items: center; gap: 8px"
    >Selected Vehicle
    <button
      mat-icon-button
      disableRipple
      style="padding: 0; border: none"
      [matTooltip]="
        isFavoriteVehicle ? 'Remove from favorite' : 'Add to favorite'
      "
      [matTooltipPosition]="'after'"
      (click)="toggleFavoriteEntity(selectedVehicle)"
    >
      <mat-icon>{{
        isFavoriteVehicle ? "favorite" : "favorite_outline"
      }}</mat-icon>
    </button>
  </mat-card-title>

  <div class="flex-column gap-0-5-rem">
    <div class="mat-card-group">
      <mat-card>
        <mat-card-content
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedVehicle.id)"
          (keydown.enter)="copyToClipboard(selectedVehicle.id)"
        >
          <b>Id:</b> {{ truncateId(selectedVehicle.id) }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedVehicle.name)"
          (keydown.enter)="copyToClipboard(selectedVehicle.name)"
        >
          <b>Name:</b> {{ selectedVehicle.name }}
        </mat-card-content>
      </mat-card>
      @if (selectedVehicle.mode !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Click to copy'"
            [matTooltipPosition]="'after'"
            (click)="copyToClipboard(selectedVehicle.mode)"
            (keydown.enter)="copyToClipboard(selectedVehicle.mode)"
          >
            <b>Mode:</b> {{ selectedVehicle.mode }}
          </mat-card-content>
        </mat-card>
      }
      <mat-card>
        <mat-card-content>
          <b>Status:</b> {{ selectedVehicle.status }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Capacity:</b> {{ selectedVehicle.capacity }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Tags:</b>
          {{
            selectedVehicle.tags.length > 0
              ? selectedVehicle.tags.join(", ")
              : "None"
          }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Passenger Tags:</b>
          {{
            selectedVehiclePassengerTags.length > 0
              ? selectedVehiclePassengerTags.join(", ")
              : "None"
          }}
        </mat-card-content>
      </mat-card>
      @let selectedVehicleStop = selectedVehicleStopSignal();
      @if (selectedVehicleStop !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Select stop'"
            [matTooltipPosition]="'after'"
            (click)="selectEntity(selectedVehicleStop)"
            (keydown.enter)="selectEntity(selectedVehicleStop)"
          >
            <b>Stop:</b>
            <app-entity-name
              [name]="selectedVehicleStop.name"
              [tags]="selectedVehicleStop.tags"
            />
          </mat-card-content>
        </mat-card>
      }
      @if (selectedVehicle.error !== null) {
        <mat-card>
          <mat-card-content matTooltip="The vehicle is not displayed">
            <b>Error:</b> {{ selectedVehicle.error }}
          </mat-card-content>
        </mat-card>
      }
    </div>

    @let selectedVehiclePassengers = selectedVehiclePassengersSignal();
    @if (selectedVehiclePassengers.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passengers on board ({{
                selectedVehiclePassengers.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (passenger of selectedVehiclePassengers; track passenger.id) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select passenger'"
                [matTooltipPosition]="'after'"
                (click)="selectEntity(passenger)"
                (keydown.enter)="selectEntity(passenger)"
                (mouseenter)="preselectEntity(passenger)"
                (mouseleave)="unpreselectEntity()"
              >
                <app-entity-name
                  [name]="passenger.name"
                  [tags]="passenger.tags"
                />
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Vehicle route</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-column gap-0-5-rem">
          <app-selected-entity-route
            class="indent"
            [previousStops]="selectedVehicle.previousStops"
            [currentStop]="selectedVehicle.currentStop"
            [nextStops]="selectedVehicle.nextStops"
          />
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}

<!--MARK: Selected Stop
      -->
@let selectedStop = selectedStopSignal();
@if (selectedStop !== null) {
  @let isFavoriteStop = isFavoriteEntity(selectedStop);
  <mat-card-title style="display: flex; align-items: center; gap: 8px"
    >Selected Stop
    <button
      mat-icon-button
      disableRipple
      style="padding: 0; border: none"
      [matTooltip]="isFavoriteStop ? 'Remove from favorite' : 'Add to favorite'"
      [matTooltipPosition]="'after'"
      (click)="toggleFavoriteEntity(selectedStop)"
    >
      <mat-icon>{{
        isFavoriteStop ? "favorite" : "favorite_outline"
      }}</mat-icon>
    </button>
  </mat-card-title>

  <div class="flex-column gap-0-5-rem">
    <div class="mat-card-group">
      <mat-card>
        <mat-card-content>
          <b>Label:</b> {{ selectedStop.label }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Capacity:</b> {{ selectedStop.capacity }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Tags:</b>
          {{
            selectedStop.tags.length > 0 ? selectedStop.tags.join(", ") : "None"
          }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Passenger Tags:</b>
          {{
            selectedStopPassengerTags.length > 0
              ? selectedStopPassengerTags.join(", ")
              : "None"
          }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Position:</b> {{ selectedStop.position.latitude }},
          {{ selectedStop.position.longitude }}
        </mat-card-content>
      </mat-card>
      @if (selectedStop.error !== null) {
        <mat-card>
          <mat-card-content matTooltip="The stop is not displayed.">
            <b>Error:</b> {{ selectedStop.error }}
          </mat-card-content>
        </mat-card>
      }
    </div>

    @let selectedStopWaitingPassengers = selectedStopWaitingPassengersSignal();
    @if (selectedStopWaitingPassengers.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passengers at stop ({{
                selectedStopWaitingPassengers.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (
              passenger of selectedStopWaitingPassengers;
              track passenger.id
            ) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select passenger'"
                [matTooltipPosition]="'after'"
                (click)="selectEntity(passenger)"
                (keydown.enter)="selectEntity(passenger)"
                (mouseenter)="preselectEntity(passenger)"
                (mouseleave)="unpreselectEntity()"
              >
                <app-entity-name
                  [name]="passenger.name"
                  [tags]="passenger.tags"
                />
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }

    @let selectedStopCompletedPassengers =
      selectedStopCompletedPassengersSignal();
    @if (selectedStopCompletedPassengers.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Trips completed ({{
                selectedStopCompletedPassengers.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (
              passenger of selectedStopCompletedPassengers;
              track passenger.id
            ) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select passenger'"
                [matTooltipPosition]="'after'"
                (click)="selectEntity(passenger)"
                (keydown.enter)="selectEntity(passenger)"
                (mouseenter)="preselectEntity(passenger)"
                (mouseleave)="unpreselectEntity()"
              >
                <app-entity-name
                  [name]="passenger.name"
                  [tags]="passenger.tags"
                />
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }

    @let selectedStopVehicles = selectedStopVehiclesSignal();
    @if (selectedStopVehicles.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Vehicles at stop ({{
                selectedStopVehicles.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (vehicle of selectedStopVehicles; track vehicle.id) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select vehicle'"
                [matTooltipPosition]="'after'"
                (click)="selectEntity(vehicle)"
                (keydown.enter)="selectEntity(vehicle)"
                (mouseenter)="preselectEntity(vehicle)"
                (mouseleave)="unpreselectEntity()"
              >
                <app-entity-name [name]="vehicle.name" [tags]="vehicle.tags" />
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }
  </div>
}
