<!--MARK: Selected Passenger
      -->
@if (selectedPassenger !== null) {
  <mat-card-title style="display: flex; align-items: center; gap: 8px"
    >Selected Passenger
    <button
      mat-icon-button
      disableRipple
      style="padding: 0; border: none"
      [matTooltip]="
        isFavoritePassenger(selectedPassenger.id)
          ? 'Remove from favorite'
          : 'Add to favorite'
      "
      [matTooltipPosition]="'after'"
      (click)="
        toggleFavoritePassenger(selectedPassenger.id, selectedPassenger.name)
      "
    >
      <mat-icon>{{
        isFavoritePassenger(selectedPassenger.id)
          ? "favorite"
          : "favorite_outline"
      }}</mat-icon>
    </button>
  </mat-card-title>
  <div class="flex-column gap-0-5-rem">
    <div class="mat-card-group">
      <mat-card>
        <mat-card-content
          #idElement
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedPassenger.id)"
          (keydown.enter)="copyToClipboard(selectedPassenger.id)"
        >
          <b>Id:</b> {{ truncateId(selectedPassenger.id) }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedPassenger.name!)"
          (keydown.enter)="copyToClipboard(selectedPassenger.name!)"
        >
          <b>Name:</b> {{ selectedPassenger.name }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Status:</b> {{ selectedPassenger.status }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Number of passenger:</b>
          {{ selectedPassenger.numberOfPassengers }}
        </mat-card-content>
      </mat-card>
      @if (selectedPassenger.notDisplayedReason !== null) {
        <mat-card>
          <mat-card-content>
            <b>Not displayed:</b>
            {{ selectedPassenger.notDisplayedReason }}
          </mat-card-content>
        </mat-card>
      }
      @if (selectedPassengerStop !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Select stop'"
            [matTooltipPosition]="'after'"
            (click)="selectStop(selectedPassengerStop)"
            (keydown.enter)="selectStop(selectedPassengerStop)"
          >
            <b>Stop:</b> {{ selectedPassengerStop.label }}
          </mat-card-content>
        </mat-card>
      }
      @if (selectedPassengerVehicle !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Select vehicle'"
            [matTooltipPosition]="'after'"
            (click)="selectVehicle(selectedPassengerVehicle.id)"
            (keydown.enter)="selectVehicle(selectedPassengerVehicle.id)"
          >
            <b>Vehicle:</b> {{ selectedPassengerVehicle.name }}
          </mat-card-content>
        </mat-card>
      }
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Passenger route</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-column gap-1-5-rem">
          @for (leg of selectedPassengerLegs; track index; let index = $index) {
            <div
              class="flex-column gap-0-5-rem"
              (mouseenter)="highlightLeg(index)"
              (mouseleave)="unhighlightLeg()"
            >
              <div class="indent">
                @if (environment !== null && leg.assignedVehicleId !== null) {
                  @let vehicle = environment.vehicles[leg.assignedVehicleId];
                  <div
                    tabindex="0"
                    class="clickable-no-padding"
                    [matTooltip]="'Select vehicle'"
                    [matTooltipPosition]="'after'"
                    (click)="selectVehicle(vehicle.id)"
                    (keydown.enter)="selectVehicle(vehicle.id)"
                  >
                    Vehicle: {{ vehicle.name }}
                  </div>
                } @else {
                  <b>{{ leg.assignedVehicleId }}</b>
                }
              </div>
              <app-selected-entity-route
                class="indent"
                [previousStops]="leg.previousStops"
                [currentStop]="leg.currentStop"
                [nextStops]="leg.nextStops"
              ></app-selected-entity-route>
            </div>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}

<!--MARK: Selected Vehicle
      -->
@if (selectedVehicle !== null) {
  <mat-card-title style="display: flex; align-items: center; gap: 8px"
    >Selected Vehicle
    <button
      mat-icon-button
      disableRipple
      style="padding: 0; border: none"
      [matTooltip]="
        isFavoriteVehicle(selectedVehicle.id)
          ? 'Remove from favorite'
          : 'Add to favorite'
      "
      [matTooltipPosition]="'after'"
      (click)="toggleFavoriteVehicle(selectedVehicle.id, selectedVehicle.name)"
    >
      <mat-icon>{{
        isFavoriteVehicle(selectedVehicle.id) ? "favorite" : "favorite_outline"
      }}</mat-icon>
    </button>
  </mat-card-title>

  <div class="flex-column gap-0-5-rem">
    <div class="mat-card-group">
      <mat-card>
        <mat-card-content
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedVehicle.id)"
          (keydown.enter)="copyToClipboard(selectedVehicle.id)"
        >
          <b>Id:</b> {{ truncateId(selectedVehicle.id) }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content
          class="clickable-no-padding"
          [matTooltip]="'Click to copy'"
          [matTooltipPosition]="'after'"
          (click)="copyToClipboard(selectedVehicle.name)"
          (keydown.enter)="copyToClipboard(selectedVehicle.name)"
        >
          <b>Name:</b> {{ selectedVehicle.name }}
        </mat-card-content>
      </mat-card>
      @if (selectedVehicle.mode !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Click to copy'"
            [matTooltipPosition]="'after'"
            (click)="copyToClipboard(selectedVehicle.mode)"
            (keydown.enter)="copyToClipboard(selectedVehicle.mode)"
          >
            <b>Mode:</b> {{ selectedVehicle.mode }}
          </mat-card-content>
        </mat-card>
      }
      <mat-card>
        <mat-card-content>
          <b>Status:</b> {{ selectedVehicle.status }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Capacity:</b> {{ selectedVehicle.capacity }}
        </mat-card-content>
      </mat-card>
      @if (selectedVehicleStop !== null) {
        <mat-card>
          <mat-card-content
            class="clickable-no-padding"
            [matTooltip]="'Select stop'"
            [matTooltipPosition]="'after'"
            (click)="selectStop(selectedVehicleStop)"
            (keydown.enter)="selectStop(selectedVehicleStop)"
          >
            <b>Stop:</b> {{ selectedVehicleStop.label }}
          </mat-card-content>
        </mat-card>
      }
      @if (selectedVehicle.notDisplayedReason !== null) {
        <mat-card>
          <mat-card-content>
            <b>Not displayed:</b> {{ selectedVehicle.notDisplayedReason }}
          </mat-card-content>
        </mat-card>
      }
    </div>

    @if (selectedVehiclePassengers.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passengers on board ({{
                selectedVehiclePassengers.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (passenger of selectedVehiclePassengers; track passenger.id) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select passenger'"
                [matTooltipPosition]="'after'"
                (click)="selectPassenger(passenger.id)"
                (keydown.enter)="selectPassenger(passenger.id)"
                (mouseenter)="preselectEntity(passenger)"
                (mouseleave)="unpreselectEntity()"
              >
                <span>{{ passenger.name }}</span>
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Vehicle route</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-column gap-0-5-rem">
          <app-selected-entity-route
            class="indent"
            [previousStops]="selectedVehicle.previousStops"
            [currentStop]="selectedVehicle.currentStop"
            [nextStops]="selectedVehicle.nextStops"
          ></app-selected-entity-route>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}

<!--MARK: Selected Stop
      -->
@if (selectedStop !== null) {
  <mat-card-title style="display: flex; align-items: center; gap: 8px"
    >Selected Stop
    <button
      mat-icon-button
      disableRipple
      style="padding: 0; border: none"
      [matTooltip]="
        isFavoriteStop(selectedStop)
          ? 'Remove from favorite'
          : 'Add to favorite'
      "
      [matTooltipPosition]="'after'"
      (click)="toggleFavoriteStop(selectedStop)"
    >
      <mat-icon>{{
        isFavoriteStop(selectedStop) ? "favorite" : "favorite_outline"
      }}</mat-icon>
    </button>
  </mat-card-title>

  <div class="flex-column gap-0-5-rem">
    <div class="mat-card-group">
      <mat-card>
        <mat-card-content>
          <b>Label:</b> {{ selectedStop.label }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Capacity:</b> {{ selectedStop.capacity }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <b>Position:</b> {{ selectedStop.position.latitude }},
          {{ selectedStop.position.longitude }}
        </mat-card-content>
      </mat-card>
    </div>

    @if (selectedStopWaitingPassengers.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passengers at stop ({{
                selectedStopWaitingPassengers.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (
              passenger of selectedStopWaitingPassengers;
              track passenger.id
            ) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select passenger'"
                [matTooltipPosition]="'after'"
                (click)="selectPassenger(passenger.id)"
                (keydown.enter)="selectPassenger(passenger.id)"
                (mouseenter)="preselectEntity(passenger)"
                (mouseleave)="unpreselectEntity()"
              >
                <span>{{ passenger.name }}</span>
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }

    @if (selectedStopCompletedPassengers.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Trip completed ({{
                selectedStopCompletedPassengers.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (
              passenger of selectedStopCompletedPassengers;
              track passenger.id
            ) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select passenger'"
                [matTooltipPosition]="'after'"
                (click)="selectPassenger(passenger.id)"
                (keydown.enter)="selectPassenger(passenger.id)"
                (mouseenter)="preselectEntity(passenger)"
                (mouseleave)="unpreselectEntity()"
              >
                <span>{{ passenger.name }}</span>
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }

    @if (selectedStopVehicles.length > 0) {
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Vehicle at stop ({{
                selectedStopVehicles.length
              }})</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="flex-column gap-0-5-rem">
            @for (vehicle of selectedStopVehicles; track vehicle.id) {
              <div
                tabindex="0"
                class="clickable indent"
                [matTooltip]="'Select vehicle'"
                [matTooltipPosition]="'after'"
                (click)="selectVehicle(vehicle.id)"
                (keydown.enter)="selectVehicle(vehicle.id)"
                (mouseenter)="preselectEntity(vehicle)"
                (mouseleave)="unpreselectEntity()"
              >
                <span>{{ vehicle.name }}</span>
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }
  </div>
}
