# Include built web application files
include multimodalsim_viewer/ui/static/**

# Include environment files
include multimodalsim_viewer/common/environments/** 

# Include input data directories
include multimodalsim_viewer/data/input_data/instance_very_small_*/**