@import "../../../styles/flex.styles.css";

:host {
  /* The user interface is positioned on top of the map */
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  /* Map is at 400 */
  z-index: 500;
}

.main {
  /* The user interface is positioned on top of the map */
  width: 100%;
  height: 100%;
}

.disable-pointer-events,
:host {
  /* Pointer events are disabled to allow the user to interact with the map */
  pointer-events: none;
}

.enable-pointer-events {
  /* Pointer events are enabled to allow the user to interact with the user interface */
  pointer-events: auto;
}

.main-menu {
  position: relative;
  right: 25vw;
  bottom: 15vh;

  max-width: 20rem;
}

.main-menu-title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.dimmed {
  background-color: rgba(0, 0, 0, 0.4);
}
