.main {
  height: calc(100% - 40px);
  padding: 20px;
}

.map {
  height: 100%;
}

#button-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  margin: 20px; /* Matching .main margin */
}

#button-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  gap: 10px;
  margin: 20px;
  margin-bottom: 40px;
  height: calc(100% - 40px);

  /* Make the buttons overlap the map */
  position: relative;
  z-index: 500;
}

#info-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;

  margin: 20px; /* Matching .main margin */
  z-index: 500;
}

#info-content {
  position: relative;
  margin: 20px;
}

app-connection-status {
  position: absolute;
  /* 44px for the zoom control and a gap of 5px */
  right: calc(44px + 5px);
  bottom: 10px;

  z-index: 500;
}

.metrics {
  position: absolute;
  bottom: 1.5rem; /* The attribution text is just below */
  z-index: 500;
}
