<main class="main">
  <div id="info-overlay">
    <div id="info-content">
      <mat-card>
        <mat-card-content>Click to spawn a marker.</mat-card-content>
      </mat-card>
    </div>  
  </div>

  <div id="button-overlay">
    <div id="button-content">
      <button mat-raised-button>Happy</button>
      <button mat-raised-button (click)="printLongLatZoom()">PRINT Long/Lat/Zoom</button>
    </div>
  </div>

  <div class="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
  </div>
</main>
<router-outlet />