<h2 mat-dialog-title>Edit Map Icons</h2>

<mat-dialog-content>
  <input
    #fileUpload
    type="file"
    class="file-upload"
    accept=".png, .jpg, .jpeg, .bmp"
    (change)="onFileSelected($event)"
  />
  <input
    #importUpload
    type="file"
    class="file-upload"
    accept=".json"
    (change)="onFileImport($event)"
  />
  <div>
    <div class="text-content">
      <p>The icons should not be too wide or too thin.</p>
      <p>
        The uploaded icons will be rescaled to {{ SPRITE_SIZE }}px in width.
      </p>
      @if (currentError !== "") {
        <mat-error>{{ currentError }}</mat-error>
      }
    </div>

    <div class="add-container">
      <button class="add-button" mat-button (click)="addVehicleModeTexture()">
        Add Custom Icon
      </button>
    </div>

    @if (vehicleModeTextures().length === 0) {
      <p>You have no custom icons.</p>
    }

    <section class="custom-icon-list">
      @for (vehicleModeTexture of vehicleModeTextures(); track $index) {
        <div class="custom-item">
          <div class="custom-icon">
            <img width="40" alt="icon" [src]="vehicleModeTexture.url" />
          </div>

          <button
            mat-icon-button
            matTooltip="Upload image"
            (click)="uploadVehicleModeTexture($index)"
          >
            <mat-icon>upload</mat-icon>
          </button>

          <mat-form-field
            class="compact-input"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <input
              matInput
              placeholder="Type a vehicle mode..."
              [(ngModel)]="vehicleModeTexture.mode"
            />
          </mat-form-field>

          <button
            mat-icon-button
            [matTooltip]="'Remove custom icon'"
            (click)="removeVehicleModeTexture($index)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      }

      <mat-divider></mat-divider>

      <!-- Default Vehicle -->
      <div class="custom-item">
        <div class="custom-icon">
          <img width="40" alt="icon" [src]="vehicleTextureUrl()" />
        </div>

        <button
          mat-icon-button
          matTooltip="Upload image"
          (click)="uploadDefaultTexture('vehicle')"
        >
          <mat-icon>upload</mat-icon>
        </button>

        <mat-form-field
          class="compact-input"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input matInput disabled value="Default Vehicle Icon" />
        </mat-form-field>

        <button
          mat-icon-button
          matTooltip="Reset icon"
          (click)="resetDefaultTexture('vehicle')"
        >
          <mat-icon>restart_alt</mat-icon>
        </button>
      </div>

      <!-- Default Passenger -->
      <div class="custom-item">
        <div class="custom-icon">
          <img width="40" alt="icon" [src]="passengerTextureUrl()" />
        </div>

        <button
          mat-icon-button
          matTooltip="Upload image"
          (click)="uploadDefaultTexture('passenger')"
        >
          <mat-icon>upload</mat-icon>
        </button>

        <mat-form-field
          class="compact-input"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input matInput disabled value="Default Passenger Icon" />
        </mat-form-field>

        <button
          mat-icon-button
          matTooltip="Reset icon"
          (click)="resetDefaultTexture('passenger')"
        >
          <mat-icon>restart_alt</mat-icon>
        </button>
      </div>

      <!-- Default Zoomed Out Vehicle-->
      <div class="custom-item">
        <div class="custom-icon">
          <img width="40" alt="icon" [src]="zoomOutVehicleTextureUrl()" />
        </div>

        <button
          mat-icon-button
          matTooltip="Upload image"
          (click)="uploadDefaultTexture('zoom-out-vehicle')"
        >
          <mat-icon>upload</mat-icon>
        </button>

        <mat-form-field
          class="compact-input"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input matInput disabled value="Far Vehicle Icon" />
        </mat-form-field>

        <button
          mat-icon-button
          matTooltip="Reset icon"
          (click)="resetDefaultTexture('zoom-out-vehicle')"
        >
          <mat-icon>restart_alt</mat-icon>
        </button>
      </div>

      <!-- Default Zoomed Out Passenger-->
      <div class="custom-item">
        <div class="custom-icon">
          <img width="40" alt="icon" [src]="zoomOutPassengerTextureUrl()" />
        </div>

        <button
          mat-icon-button
          matTooltip="Upload image"
          (click)="uploadDefaultTexture('zoom-out-passenger')"
        >
          <mat-icon>upload</mat-icon>
        </button>

        <mat-form-field
          class="compact-input"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input matInput disabled value="Far Passenger Icon" />
        </mat-form-field>

        <button
          mat-icon-button
          matTooltip="Reset icon"
          (click)="resetDefaultTexture('zoom-out-passenger')"
        >
          <mat-icon>restart_alt</mat-icon>
        </button>
      </div>

      <!-- Stop -->
      <div class="custom-item">
        <div class="custom-icon stop-icon">
          <img width="40" alt="icon" [src]="stopTextureUrl()" />
        </div>

        <button
          mat-icon-button
          matTooltip="Upload image"
          (click)="uploadDefaultTexture('stop')"
        >
          <mat-icon>upload</mat-icon>
        </button>

        <mat-form-field
          class="compact-input"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input matInput disabled value="Stop Icon" />
        </mat-form-field>

        <button
          mat-icon-button
          matTooltip="Reset icon"
          (click)="resetDefaultTexture('stop')"
        >
          <mat-icon>restart_alt</mat-icon>
        </button>
      </div>

      <mat-divider></mat-divider>

      <mat-radio-group
        class="color-group"
        [(ngModel)]="colorSetIndex"
        (change)="onColorSetIndexChange($event)"
      >
        <mat-radio-button [value]="0">Light</mat-radio-button>
        <mat-radio-button [value]="1">Saturated</mat-radio-button>
        <mat-radio-button [value]="2">Custom</mat-radio-button>
      </mat-radio-group>

      @if (colorSetIndex === 0) {
        <div class="color-list-container">
          <span>Light Preset:</span>
          @for (color of PRESET_LIGHT_COLOR_THEME; track $index) {
            <div class="preset-color" [style.background-color]="color"></div>
          }
        </div>
      }

      @if (colorSetIndex === 1) {
        <div class="color-list-container">
          <span>Saturated Preset:</span>
          @for (color of PRESET_SATURATED_COLOR_THEME; track $index) {
            <div class="preset-color" [style.background-color]="color"></div>
          }
        </div>
      }

      @if (colorSetIndex === 2) {
        <div class="color-list-container">
          <span>Custom:</span>
          <button
            class="mini-icon-button"
            mat-icon-button
            [disabled]="!canRemoveColor()"
            (click)="removeCustomColor()"
          >
            <mat-icon>remove_circle_outline</mat-icon>
          </button>

          <div
            class="custom-color-list"
            cdkDropList
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="dropCustomColor($event)"
          >
            @for (color of customColors(); track $index) {
              <div class="custom-color" cdkDrag>
                <div *cdkDragPlaceholder class="color-placeholder"></div>
                <input
                  class="color-picker"
                  type="color"
                  [value]="color"
                  (input)="onColorChange($index, $event)"
                />
              </div>
            }
          </div>
          <button
            class="mini-icon-button"
            mat-icon-button
            [disabled]="!canAddColor()"
            (click)="addCustomColor()"
          >
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      }
      <div class="color-tester">
        <div class="custom-icon wrapper-icon">
          <img width="40" alt="icon" [src]="vehicleTextureUrl()" />
          <div
            class="color-overlay"
            [style.background-color]="testScaleColor"
            [style.mask-image]="'url(' + vehicleTextureUrl() + ')'"
            [style.webkitMaskImage]="'url(' + vehicleTextureUrl() + ')'"
          ></div>
        </div>

        <div class="custom-icon wrapper-icon">
          <img width="40" alt="icon" [src]="passengerTextureUrl()" />
          <div
            class="color-overlay"
            [style.background-color]="testScaleColor"
            [style.mask-image]="'url(' + passengerTextureUrl() + ')'"
            [style.webkitMaskImage]="'url(' + passengerTextureUrl() + ')'"
          ></div>
        </div>

        <div class="custom-icon wrapper-icon">
          <img width="40" alt="icon" [src]="zoomOutVehicleTextureUrl()" />
          <div
            class="color-overlay"
            [style.background-color]="testScaleColor"
            [style.mask-image]="'url(' + zoomOutVehicleTextureUrl() + ')'"
            [style.webkitMaskImage]="'url(' + zoomOutVehicleTextureUrl() + ')'"
          ></div>
        </div>

        <div class="custom-icon wrapper-icon">
          <img width="40" alt="icon" [src]="zoomOutPassengerTextureUrl()" />
          <div
            class="color-overlay"
            [style.background-color]="testScaleColor"
            [style.mask-image]="'url(' + zoomOutPassengerTextureUrl() + ')'"
            [style.webkitMaskImage]="
              'url(' + zoomOutPassengerTextureUrl() + ')'
            "
          ></div>
        </div>

        <mat-slider min="0" max="100" discrete>
          <input matSliderThumb (input)="onColorScaleChange($event)" />
        </mat-slider>
      </div>
    </section>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="file-porters">
    <button mat-icon-button matTooltip="Export JSON" (click)="exportTextures()">
      <mat-icon>download_for_offline</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Import JSON"
      (click)="importUpload.click()"
    >
      <mat-icon>upload_file</mat-icon>
    </button>
  </div>

  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
