p {
  margin-top: 0px;
}

.add-container {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
}

.icon-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-list-item {
  padding: 5px 0px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  overflow: visible;
}

.icon {
  width: 40px;

  display: flex;
  align-items: baseline;
  justify-content: center;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;

  min-width: 0;
  flex: 1;
}

.form-field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.custom-icon-form-field {
  flex: 1;
}

.icon-placeholder-container {
  --placeholder-background-color: #f0f0f0;
  border: dotted 3px #999;
}

.icon-placeholder {
  background-color: var(--placeholder-background-color);
  min-height: 40px;
}

.icon-button-placeholder {
  background-color: var(--placeholder-background-color);
  min-width: 48px;
  min-height: 48px;
}

.form-field-placeholder {
  background-color: var(--placeholder-background-color);
  border-radius: 4px;
  min-height: 36px;
}

.file-upload {
  display: none;
}

.file-porters {
  margin-right: auto; /* Move buttons to the left */

  button {
    color: var(--mat-sys-primary);
  }
}

.color-title {
  margin: 0px;
}

.color-group {
  display: flex;
  justify-content: space-between;
}

.color-picker {
  border: none;
  width: 15px;
  height: 15px;
  margin: 2px;
  padding: 0;
  background: none;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker::-webkit-color-swatch {
  border: 1px solid black;
  border-radius: 0;
}

.color-picker::-moz-color-swatch {
  border: 1px solid black;
  border-radius: 0;
}

.color-list-container,
.custom-color-list,
.custom-color,
.preset-color {
  display: flex;
  align-items: center;
}

.color-list-container {
  gap: 5px;
}

.preset-color {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.color-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  width: 15px;
  height: 15px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mini-icon-button {
  width: 32px;
  height: 32px;
  padding: 4px;
  padding-top: 7px;
  mat-icon {
    font-size: 20px;
  }
}

.color-tester {
  display: flex;
  gap: 10px;
}

.wrapper-icon {
  position: relative;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  pointer-events: none;

  mask-repeat: no-repeat;
  width: 40px;
  height: 100%;
  mask-size: 40px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.default-icon-type {
  flex: 1;
}
